.about_section {
  text-align: center;
}

.about_section .image-container {
  position: relative;
  display: inline-block;
}

.about_section .image-text {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  padding: 10px;
  text-align: left;
  color: white;
 
}




